@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ybdsu');
  src:  url('fonts/icomoon.eot?ybdsu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ybdsu') format('truetype'),
    url('fonts/icomoon.woff?ybdsu') format('woff'),
    url('fonts/icomoon.svg?ybdsu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wb_sunny:before {
  content: "\e901";
}
.icon-verified:before {
  content: "\e902";
}
.icon-social-facebook:before {
  content: "\e903";
}
.icon-envelope:before {
  content: "\e904";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-github:before {
  content: "\f09b";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-moon-o:before {
  content: "\f186";
}
.icon-arrow-thin-right:before {
  content: "\e90b";
}
.icon-arrow-thin-up:before {
  content: "\e90c";
}
.icon-menu:before {
  content: "\e900";
}
