.footer{
    justify-content: space-between;
}
.footer .links li{
    margin-right: 1rem;
    font-size: 0.6rem;
    font-weight: bold;
}
.footer .links li a{
    color: var(--title);
}.footer .links li a:hover{
    color: var(--blue);
}

.copy p{
    font-size: 0.6rem;
    color: var(--subtitle);
}
