@import "tailwindcss";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+AU+QLD+Guides&family=Roboto:wght@100..900&display=swap');
:root{
    --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);

  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);

  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(0, 149, 246);

  --icon-hover: #d4d4d8;
}
html{
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary);
   
}

.light{
    --primary: rgb(250, 250, 250);
  --secondary: rgb(255, 255, 255);
  --border: rgba(202, 202, 202, 0.518);

  --title: rgb(39 39 42);
  --subtitle: rgb(82 82 91);

  --bgHeader: rgb(253, 253, 253);
  --blue: rgb(0, 149, 246);

  --icon-hover: #333;
}
.container{
    border: 1px solid var(--border);
    width: 80%;
    margin: auto;
    background-color: var(--secondary) ;
    padding: 3rem;
} 
.devider{
    border-bottom: 1px solid var(--border);
    margin: 3rem 0;
}
.flex{
    display: flex;
   align-items: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;color: var(--title);
}
button{
    all: unset;
    cursor: pointer;
}
.border{
    border: 1px solid red;
}


/* ///////////////////// */

.scorl{
    position: fixed;
    /* top: 0; */
    right: 2.5rem;
    bottom: 3rem;
    width: 40px;
    height: 40px;
    background-color: var(--blue);
    border: 1px solid var(--border);
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

:-webkit-scrollbar {
  width: 0.88rem;
 }
 
::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
  }
 
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 2px;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@media (max-width:678px) {
    .container{
    width: 100%;
} 
}